/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	text-align: center;
	margin: 40px 0 15px;
	font-size: 2.5em;
	font-family: Arial, sans-serif;
	font-weight: 700;
}
.description{
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
}
#formarea{
	width: 335px;
	margin: 25px auto 0;
}

input[type=text]{
	width: 80px;
	height: 25px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #B9C99D;
	font-size: 17px;
	box-shadow: 0px 1px 5px #BEBCBC;
	position: relative;
	top:-2px;
}
input[type=text]:focus, input[type=submit]:focus, select:focus{
	outline: none;
	box-shadow: 0px 0px 7px #929292;
}	
input[type=submit]{
	width: 110px;
	height: 37px;
	border: 0;
	padding:6px;
	background: #98AF86;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 2px;
	position: relative;
	top:-1px;
}
input[type=submit]:hover{
	background: #A6BE93;
}
select{
	font-size: 16px;
	height: 37px;
	width: 110px;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #B9C99D;
	box-shadow: 0px 1px 5px #BEBCBC;
	margin-top: 2px;
}

table{
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #BEBCBC;
	margin:15px auto 10px; 
}
tr,td{
	border: 1px solid #d3d3d3;
	padding: 10px;
}
.period{
	padding-right: 50px;
	background: #f0f0f0;
}
.value{
	padding-right: 100px;
}
#result{
	font-family: Tahoma, Arial;
	width: 340px;
	margin:40px auto 10px; 
}
#result p{
	text-align: center;
}